.founder-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  align-items: top;

  @media (max-width: 375px) {
    grid-template-columns: 1fr;
  }
}

.founder_image {
  width: 100%;
  aspect-ratio: 0.816;
  border-radius: 8px;
  object-fit: fit;
}
