.founder-container {
  display: grid;
  grid-template-rows: auto;
  gap: 32px;
  align-items: top;

  @media (min-width: 375px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 16px;
  }
  @media (min-width: 640px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.founder_image {
  width: 100%;
  aspect-ratio: 0.816;
  border-radius: 8px;
  object-fit: cover;
}
