.home-banner {
  background-color: $secondary-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50vh;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 640px) {
      flex-direction: row-reverse;
      gap: 80px;
    }

    .banner-home-content {
      width: 50%;
      text-align: left;
    }
    .banner-home-image {
      width: 50%;
    }

    .banner-button {
      @media (min-width: 640px) {
        display: none;
      }
    }
  }
}
