.menu-page {
    display: flex;
    flex-direction: column;
    gap: 96px;
    margin-top: 100px;
    margin-bottom: 100px;

    h2 {
        text-align: center;
        margin-bottom: 48px;
    }
    
    a {
        text-decoration: none;
    }

    .menu-category-grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr;

        @media (min-width: 425px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 850px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1000px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.category-article {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
}