.tax-product_cat {
    
    .site-main {
        max-width: 81.5rem;
        display: grid;
        margin: 0 auto;
        padding: 0rem 1rem;
        grid-template-areas:
            "return head"
            "menu catalogue"
            "menu catalogue";
        grid-template-columns: 16rem auto;
        justify-content: center;

        // the pop up added to cart notification banner
        .woocommerce-message {
            position: fixed;
            z-index: 1111111;
            top: 0;
            left: 0;
            right: 0;
            opacity: 1; 
            animation: fadeOutAnimation 1s 5s forwards; 
        }
        // the animations for the pop up added to cart notification banner
        @keyframes fadeOutAnimation {
            from { opacity: 1; }
            to { opacity: 0; }
        }

        // the return to menu button
        .return-to-menu {
            grid-area: return;
            align-self: center;
            text-transform: uppercase;
            font-weight: bold;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 2rem 0 3rem;
            width: 100px;

            a {
                color: $text-primary-900;

                &:hover,
                &:active {
                    color: $color__link-hover;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 0.5rem;
                    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" xmlns="http://www.w3.org/2000/svg"><title>Back Arrow</title><path d="m9.474 5.209s-4.501 4.505-6.254 6.259c-.147.146-.22.338-.22.53s.073.384.22.53c1.752 1.754 6.252 6.257 6.252 6.257.145.145.336.217.527.217.191-.001.383-.074.53-.221.293-.293.294-.766.004-1.057l-4.976-4.976h14.692c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-14.692l4.978-4.979c.289-.289.287-.761-.006-1.054-.147-.147-.339-.221-.53-.221-.191-.001-.38.071-.525.215z" fill-rule="nonzero" fill="%23000"/></svg>');
                    vertical-align: middle;
                }
            }
        }

        // header text
        header {
            grid-area: head;
            padding: 2rem 0 3rem 1rem;
        }

        // the category navigation
        .product-categories-tabs {
            grid-area: menu;
            display: flex;
            flex-direction: column;
            width: 16rem;
            margin-bottom: 2rem;

            .category-link.active-category {
                background-color: white;
                border: 1px solid $tertiary-green;
                box-shadow: 0 0 0 2px $tertiary-green;
            }

            .category-link {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: $text-primary-900;

                background-color: $grey-300;
                border: 1px solid $color__border-input;
                padding: 1rem 2rem 1rem 5rem;
                margin: 0 1rem 1rem 0;
                border-radius: 0.5rem;
                transition: background-color 0.3s, color 0.3s;
                background-size:20%;
                background-position: 1rem center;

                // Specific images for each category
                &[href*="product-category/burgers"] {
                    background-image: url("assets/big-boy-deluxe.png");
                    background-repeat: no-repeat;
                }
                &[href*="product-category/sides"] {
                    background-image: url("assets/fries.png");
                    background-repeat: no-repeat;
                }
                &[href*="product-category/drinks"] {
                    background-image: url("assets/soda.png");
                    background-repeat: no-repeat;
                }
                &[href*="product-category/desserts"] {
                    background-image: url("assets/cookies-and-cream-pie.png");
                    background-repeat: no-repeat;
                }
                &[href*="product-category/gift-cards"] {
                    background-image: url("assets/gift-card.png");
                    background-repeat: no-repeat;
                }
                &[href*="product-category/merch"] {
                    background-image: url("assets/apron.png");
                    background-repeat: no-repeat;
                }

                &:hover,
                &:active {
                    background-color: white;
                    border: 1px solid $tertiary-green;
                    box-shadow: 0 0 0 2px $tertiary-green;
                }
            }
        }

        // the product listing
        ul.products {
            display: flex;
            flex-wrap: wrap;
            padding-left: 1rem;

            li.product {
                margin: 0 2rem 3rem 0;
                width: 18.75rem;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .woocommerce-loop-product__link {
                    img {
                        width: 100%;
                    }
                    div {
                        display: flex;
                        justify-content: space-between;
                        padding: 1rem 0;

                        .price {
                            font-size: 1.2rem;
                            text-decoration: none;
                            color: $text-primary-900;

                            .amount {
                                display: block;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 82.25em) {
            max-width: 60.5em;
        }

        @media (max-width: 61.5em) {
            max-width: 38em;
        }

        // Media Query for viewports less than 60em
        @media (max-width: 40em) {
            display: flex;
            flex-direction: column;
            align-items: center;

            .return-to-menu {
                align-self: flex-start;
                padding-bottom: 2rem;
            }

            header.woocommerce-products-header {
                padding: 0;
            }

            .category-link {
                display: none; // Hides these elements on smaller screens
            }

            ul.products {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-items: center;

                li.product {
                    margin: 0;
                    padding: 0 0 3rem;
                }
            }
        }
    }
}
