.post-265 {
    margin: 100px auto;
    padding: 0 2rem;

    h1 {
        text-align: center;
    }

    .entry-content .wp-block-heading {
        font-size: 1rem;
    }

    @media (min-width: 1440px) {
        width: 1376px;
        padding: 0;
    }
}