.site-header.top-navigation {
  padding: 13px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-branding {
      max-width: 75px;
    }

    .main-navigation {
      .menu-toggle {
        margin-left: auto;
      }
      .menu-main-navigation-container {
        .menu.nav-menu {
          justify-content: flex-end;
        }
      }
    }
  }
}
