.site-header.top-navigation {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-branding {
      max-width: 70.35px;
    }

    .site-navigation {
      align-content: flex-end;
    }
  }
}
